<h1 id="tocheading">Table of Contents</h1>
<div id="toc"></div>

In [5]:
%%javascript
$.getScript('https://kmahelona.github.io/ipython_notebook_goodies/ipython_notebook_toc.js')

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import pickle
import matplotlib
import matplotlib.pyplot as plt # for plotting
%matplotlib inline

In [3]:
%load_ext autoreload
%autoreload 1

In [4]:
%aimport src.utils.plot
%aimport src.utils
%aimport src.feats

import src.utils as utils
import src.feats as feats

In [8]:
train = utils.read_csv('./input/application_train.csv')
buro = utils.read_csv('./input/bureau.csv')

In [27]:
buro[buro.CREDIT_ACTIVE == 'Active'].groupby('SK_ID_CURR').count()

,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
SK_ID_CURR,,,,,,,,,,,,,,,,
100001,3,3,3,3,3,3,0,0,3,3,3,2,3,3,3,3
100002,2,2,2,2,2,1,0,1,2,2,2,2,2,2,2,2
100003,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,0
100005,2,2,2,2,2,2,0,1,2,2,2,2,2,2,2,2
100008,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,0
100009,4,4,4,4,4,2,0,0,4,4,4,2,4,4,4,0
100010,1,1,1,1,1,1,0,0,1,1,1,1,1,1,1,0
100014,2,2,2,2,2,2,0,2,2,2,2,2,2,2,2,0
100016,4,4,4,4,4,4,0,0,4,4,2,2,4,4,4,0
100019,2,2,2,2,2,2,0,2,2,2,2,2,2,2,2,2
100020,2,2,2,2,2,2,0,2,2,2,2,2,2,2,2,0
100022,2,2,2,2,2,2,0,1,2,2,1,1,2,2,2,0
100023,4,4,4,4,4,4,1,1,4,4,4,3,4,4,4,0
100025,1,1,1,1,1,1,0,0,1,1,1,1,1,1,1,0
100026,2,2,2,2,2,2,0,1,2,2,2,2,2,2,2,0
100027,1,1,1,1,1,1,0,0,1,1,1,1,1,1,1,0
100028,5,5,5,5,5,4,0,2,5,5,4,4,5,5,5,3
100029,1,1,1,1,1,0,0,0,1,1,1,0,1,1,1,0
100030,2,2,2,2,2,1,0,2,2,2,2,2,2,2,2,0
100031,3,3,3,3,3,1,0,0,3,3,0,0,3,3,3,0
100032,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
100033,1,1,1,1,1,1,0,0,1,1,1,1,1,1,1,0
100035,5,5,5,5,5,5,0,1,5,5,3,2,5,5,5,0
100036,1,1,1,1,1,1,0,0,1,1,1,0,1,1,1,0
100037,1,1,1,1,1,0,0,0,1,1,1,0,1,1,1,0
100039,3,3,3,3,3,3,0,0,3,3,3,2,3,3,3,0
100041,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,0
100042,8,8,8,8,8,8,0,2,8,8,7,3,8,8,8,5
100044,6,6,6,6,6,6,0,4,6,6,6,6,6,6,6,0
100045,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456218,10,10,10,10,10,9,0,9,10,10,10,10,10,10,10,10
456219,3,3,3,3,3,1,0,1,3,3,1,1,3,3,3,3
456220,2,2,2,2,2,2,0,1,2,2,2,2,2,2,2,0
456221,2,2,2,2,2,2,0,2,2,2,2,0,2,2,2,2
456223,1,1,1,1,1,0,0,1,1,1,1,1,1,1,1,1
456224,6,6,6,6,6,5,0,2,6,6,6,5,6,6,6,3
456225,6,6,6,6,6,6,0,0,6,6,6,5,6,6,6,0
456226,2,2,2,2,2,2,0,0,2,2,2,2,2,2,2,0
456227,2,2,2,2,2,2,0,0,2,2,2,2,2,2,2,0
456229,1,1,1,1,1,1,0,1,1,1,0,0,1,1,1,0
456230,4,4,4,4,4,3,0,1,4,4,4,4,4,4,4,3
456231,3,3,3,3,3,3,0,0,3,3,2,1,3,3,3,1
456232,2,2,2,2,2,2,0,0,2,2,2,2,2,2,2,0
456233,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
456234,3,3,3,3,3,3,0,2,3,3,2,2,3,3,3,3
456235,1,1,1,1,1,1,0,0,1,1,1,1,1,1,1,0
456236,4,4,4,4,4,4,0,4,4,4,3,3,4,4,4,0
456238,2,2,2,2,2,2,0,1,2,2,2,1,2,2,2,2
456239,5,5,5,5,5,5,0,2,5,5,3,3,5,5,5,0
456240,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,0
456241,2,2,2,2,2,2,0,0,2,2,0,0,2,2,2,0
456242,1,1,1,1,1,1,0,0,1,1,1,1,1,1,1,1
456243,2,2,2,2,2,0,0,0,2,2,1,0,2,2,2,0
456244,4,4,4,4,4,4,0,1,4,4,3,2,4,4,4,2
456246,1,1,1,1,1,1,0,0,1,1,1,1,1,1,1,0
456247,3,3,3,3,3,3,0,2,3,3,2,2,3,3,3,2
456249,2,2,2,2,2,2,1,1,2,2,2,1,2,2,2,0
456250,2,2,2,2,2,2,0,2,2,2,2,2,2,2,2,2
456253,2,2,2,2,2,2,0,0,2,2,2,2,2,2,2,1
456255,5,5,5,5,5,5,0,2,5,5,5,3,5,5,5,4